public net.minecraft.world.level.block.state.StateHolder propertyKeys
public net.minecraft.world.entity.schedule.Activity <init>(Ljava/lang/String;)V

# ENTITY
public net.minecraft.world.entity.npc.villager.VillagerType BY_BIOME
public net.minecraft.world.entity.monster.warden.Warden isDiggingOrEmerging()Z

# FEATURES
public net.minecraft.data.worldgen.placement.AquaticPlacements seagrassPlacement(I)Ljava/util/List;
public net.minecraft.data.worldgen.placement.VegetationPlacements TREE_THRESHOLD
public net.minecraft.data.worldgen.placement.VegetationPlacements treePlacementBase(Lnet/minecraft/world/level/levelgen/placement/PlacementModifier;)Lcom/google/common/collect/ImmutableList$Builder;

public-f net.minecraft.world.level.block.grower.TreeGrower
public net.minecraft.world.level.levelgen.feature.trunkplacers.TrunkPlacerType <init>(Lcom/mojang/serialization/MapCodec;)V
public net.minecraft.world.level.levelgen.feature.foliageplacers.FoliagePlacerType <init>(Lcom/mojang/serialization/MapCodec;)V
public net.minecraft.world.level.levelgen.feature.rootplacers.RootPlacerType <init>(Lcom/mojang/serialization/MapCodec;)V
public net.minecraft.world.level.levelgen.feature.treedecorators.TreeDecoratorType <init>(Lcom/mojang/serialization/MapCodec;)V
public net.minecraft.world.level.block.grower.TreeGrower getConfiguredFeature(Lnet/minecraft/util/RandomSource;Z)Lnet/minecraft/resources/ResourceKey;
public net.minecraft.world.level.block.grower.TreeGrower getConfiguredMegaFeature(Lnet/minecraft/util/RandomSource;)Lnet/minecraft/resources/ResourceKey;
