name: Build
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        java: [21]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    env:
      MAVEN_URL: ${{secrets.SNAPSHOT_MAVEN_URL}}
      MAVEN_USERNAME: ${{secrets.MAVEN_USERNAME}}
      MAVEN_PASSWORD: ${{secrets.MAVEN_PASSWORD}}
    steps:
      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/loom-cache
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Checkout FrozenLib
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          repository: FrozenBlock/FrozenLib
          ref: master
          submodules: recursive
          path: FrozenLib
      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Make Gradle Wrapper Executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: Build
        run: ./gradlew build publish -PuseThirdPartyMods=false
